name: Dependabot Updates
on: pull_request

permissions:
  contents: read

jobs:
  dependabot:
    runs-on: ubuntu:24.04
    if: ${{ github.actor == 'dependabot[bot]' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.21"
      - name: Build
        run: go build ./...
